$logo-main: rgb(251, 251, 251);
$logo-main-button: rgb(248, 248, 94);
$logo-main-hover: yellow;
$logo-secondary: rgb(124, 218, 233);
$logo-secondary-hover: rgb(32, 169, 190);
$country-highlight: rgb(20, 115, 82);
