@import "./partials/colors";
@import "./partials/display";

html,
body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
header {
  @include display(flex, center, space-between);
  padding: 1rem 0;
  position: fixed;
  z-index: 1;
  width: 100%;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header {
  ul {
    display: flex;
    @media (max-width: 710px) {
      display: none;
    }
  }
  li {
    width: 6.875rem;
  }
  @media (max-width: 710px) {
    @include display(flex, none, space-between);
  }
}

.navigation {
  margin: 1rem;
  a {
    text-decoration: none;
    font-size: 1.1rem;
    color: $logo-main;
    text-shadow: 1px 1px 5px black;
    transition: 0.5s ease-out;
    &:hover {
      color: black;
      background-color: $logo-main-hover;
      text-shadow: none;
      font-weight: 700;
      padding: 0.3125rem;
      border-radius: 3px;
      box-shadow: 1px 1px 5px black;
    }
  }
}

#page-logo {
  a {
    padding: 0.625rem;
    font-family: "Itim", sans-serif;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: $logo-main;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    &:hover {
      color: $logo-main-hover;
    }
    @media (max-width: 710px) {
      font-size: 2rem;
    }
  }
}

#hamb {
  span {
    display: block;
    background-color: white;
    border: solid 0.5px black;
    height: 4px;
    width: 35px;
    margin: 7px;
    position: relative;
  }
  @media (min-width: 710px) {
    display: none;
  }
}
#menu {
  display: none;
  &:target {
    display: block;
    z-index: 2;
    background-color: black; 
    height: 100%;
    width: 100%;
    position: fixed;
  }
  ul {
    text-align: center;
    position: relative;
    top: 6.25rem;
    font-size: 1.875rem;
    li {
      padding: 20px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

#menu-icon {
  @include display(flex, none, flex-end);
}
aside {
  #hamb {
    padding: 1rem 0;
    position: relative;
  }
  @media (max-width: 710px) {
    display: flex;
    position: absolute;
  }
}
main {
  padding-bottom: 10vh;
}
footer {
  position: absolute;
  bottom: 0;
  background-color: black;
  @include display(grid, none, center);
  grid-template-columns: auto auto;
  column-gap: 2.5rem;
  width: 100%;
  min-height: 10vh;
  img {
    background-color: black;
    height: 3.125rem;
    width: 3.125rem;
    padding: 1.25rem;
    transition: 0.3s ease-in;
    &:hover {
      height: 3.375rem;
      width: 3.375rem;
      padding: 1.125rem;
    }
  }
}
